<div style="min-width: 100%;min-height: 200%;background-image: url('../../assets/img/background.jpg');">
    <br>
    <div class="container">
        <h2 style="color: aliceblue;">Trainig Sessions List</h2>
        <h2 style="color: aliceblue;">Trainer: {{checkname()}}</h2>
      <button [routerLink]="['/create-formation']" class="btn btn-outline-info" style="float: right;"><i class="bi bi-person-plus" ></i> Create Course</button>
      <table class="table">
          <thead>
              <tr style="color:aqua">
                  <th scope="col">Id</th>
                  <td scope="col">Name</td>
                  <td scope="col">Start</td>
                  <td scope="col">End</td>
                  <td scope="col">Trainer</td>
                  <td scope="col">Actions</td>
                </tr>
          </thead>
          <tbody>
            <tr *ngFor="let formations of formation" style="color:beige">
              <th scope="row">{{formations.fid}}</th>
              <td scope="row">{{formations.formationName}}</td>
              <td scope="row">{{formations.date_debut|date:'short'  }}</td>
              <td scope="row">{{formations.date_fin| date:'short' }}</td>
              <td scope="row">{{formations.formateur.nom}} {{formations.formateur.prenom}}</td>
            <td>
              <button class="btn btn-info me-2" (click) = "updateFormation(formations.fid)">Edit</button>
            </td>
          </tr>
          </tbody>
        </table>
    </div>
  </div>
  
  